# include license files
include LICENSE
recursive-include edubot *.LICENSE

# include locale files
recursive-include edubot locales/*.po

# include data folders for cogs
recursive-include edubot/**/data *

# include *.export files from the test fixtures
recursive-include edubot *.export

# include the py.typed file informing about Edu being typed
recursive-include edubot py.typed

# include *.sql files from postgres driver
recursive-include edubot/core/drivers/postgres *.sql

# include tests
graft tests

# include tox configuration
include tox.ini

# exclude files containing byte-code and compiled libs
global-exclude *.py[cod]
